@page
@using AlexEntityRazor.Model

@model ViewAllCustomerModel


<h2>View All Customer</h2>



<p>
    <a asp-page="AddCustomer">Add New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>

            <th>
                @Html.DisplayName("Contact")
            </th>


            <th>
                @Html.DisplayName("Services")
            </th>
            <th>
                @Html.DisplayName("Charges")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerList)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Services)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Charges)
            </td>
            <td>
                <a asp-page="./EditCustomer" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./ViewAllCustomer" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table> 